* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #111122;
    display: flex;
    flex-direction: column;
}

.dashboard {
  width: 500px;
  margin: auto;
}

.dashboard-level-1 {
  display: flex;
  justify-content: center;
}
.dashboard-level-2 {
  display: flex;
  justify-content: center;
}
.dashboard-level-3 {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #444477;
  color: #486a9e;
  border: 1px solid #111111;
  width: 25%;
  height: 30px;
  font-weight: bold;
  text-align: center;
}

.info {
  background-color: transparent;
  color: #0d54be;
  border: none;
  width: 16%;
  height: 20px;
  font-weight: bold;
  text-align: center;
}

.output {
  background-color:transparent;
  color: #486a9e;
  border: none;
  width: 16%;
  height: 20px;
  font-weight: bold;
  text-align: center;
}
#output-one {
  color: #ff0033;
}
#output-two {
  color: #01ee6c;
}
#output-three {
  color: #00c3ff;
}
#output-four {
  color: #f82bb7;
}
#output-five {
  color: #ffffff;
}
#output-six {
  color: #e5ff00;
}

/* // CANVAS // */
canvas {
    background-color:#9CDAC5;
    border:3px solid #222222;
    width: 500px;
    margin: 0px auto;
}
/* // CANVAS // */

.control {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 90px;
    height: 30px;
}
.control-left, .control-right {
  width: 35%;
}
.control-center {
  width: 30%
}

.dir {
  display: block;
  opacity: 0;
  border-radius: 10px;
  background-color: #586a8f;
  border: 2px solid #193153;
  color: #193153;
  font-size: 1em;
}
#up, #down, #center {
    width: 100%;
}
#up, #down {
  height: 40%;
}
#center {
    display: block;
    background-color: transparent;
    border: none;
    height: 20%;
}
#left, #right {
    width: 100%;
    height: 50%;
}
#left-up, #left-down, #right-up, #right-down {
  width: 100%;
  height: 25%;
}

/* --- Media Query --- */
@media (max-width: 550px) {
  body {
    background-color: #111111;
  }

  .dashboard {
    width: 100vw;
  }

  /* // CANVAS // */
  canvas {
    width: 100vw;
    margin: auto;
  }
  /* // CANVAS // */

  .control {
    width: 96vw;
    height: 30vh;
  }
  .dir {
    opacity: 0.8;
    font-size: 3em;
  }
}
/* --- Media Query --- */